//@import "letters";

@background-color: gold;
@paper-color: white;
@stroke-color: black;

html, body {
  background: @background-color;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  @media print {
    background: @paper-color;
  }
}

.character-definition {
  display: none;
}

#input-anchor {
  height: 0;
  width: 0;
  @media print {
    display: none;
  }
}

.box-shadow {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .6);
}

#input-window {
  .box-shadow;
  position: fixed;
  top: 2em;
  left: 2em;
  background: white;
  height: auto;
  z-index: 9999;
  border: @stroke-width solid @stroke-color;
  form {
    margin-bottom: -2px;
  }
  textarea {
    background: white;
    border: 0;
    margin: 0;
    padding: .5em;
  }
  
  @media (min-width: 35.5em) { //FOR DESKTOP
  left: 50%;
  }
  
}

.window-bar {
  width: 100%;
  height: 1.5em;
  text-align: right;
  border-bottom: @stroke-width solid @stroke-color;
  i {
    margin: .25em;
  }
}

.input-line {
  margin-bottom: 0 0 .25em 0;
  height: 1em;
  width: 100%;
}

.print-button {
  .box-shadow;
  background: white;
  border: none;
  outline: none;
  position: absolute;
  bottom: .25em;
  left: .25em;
  border: @stroke-width solid @stroke-color;
  &:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
    bottom: .2em;
    left: .3em;
  }
}

.only-print {
  display: none;
  @media print {
    display: block;
    position: fixed;
    font-size: 2.25em;
    color: white;
  }
}

#page {
  height: 100%;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  background: @paper-color;
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
  @media (min-width: 35.5em) { //FOR DESKTOP
    border: 2rem solid white;
    height: 85%;
    width: 30%;
    margin: 1% 1% 0 5%;
  }
  @media print {
//    width: 100% !important;
//    height: 100% !important;
    page-break-after: always;
  }
}

p, h1, h2, h3, h4, h5, h6, input, textarea, button, footer {
  font-family: 'Space Mono', monospace;
}

footer {
  text-align: center;
  font-size: .8em;
  opacity: .6;
  position: absolute;
  bottom: 0;
  width: 100%;
  @media print {
    display: none;
  }
}

//**********************************************************

//VARIABLES AND MIXINS

@stroke-width: .25rem;
//@min-height: 2.5em;
//@min-width: 1em;

@character-height: 16vh;

@radius: 10rem;

.stroke {
  background: black !important;
}

//CHARACTER COMPONENTS

.square {
  width: @stroke-width;
  height: @stroke-width;
  max-width: @stroke-width !important;
//  background: #bfb;
}

.horizontal {
  height: @stroke-width !important;
  min-height: @stroke-width !important;
//  background: #ffb;
}

.vertical {
  width: @stroke-width;
  max-width: @stroke-width !important;
//  background: #fbf;
}

.both {
//  background: #bff;
}

table, tr, td {
  border-collapse: collapse;
  box-sizing: border-box;
  table-layout: fixed;
}

.letters {
  width: 100%;
  font-size: 0;
}

.character-table {
  height: 100%;
  width: 100%;
}

.character-universals {
  display: inline-block;
  position: relative;
//  height: @character-height;
//  min-width: @min-width;
//  width: 25%;
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1%;
  &:last-child {
    margin-right: 0 !important;
  }
  padding: 0;
  * {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.character {
  .character-universals;
  .aa, .ac, .ae, 
  .ca, .cc, .ce,
  .ea, .ec, .ee,
  .fa, .fc, .fe {.square}
  .ab, .ad, .cb, .cd, .eb, .ed, .fb, .fd {.horizontal}
  .ba, .bc, .be, .da, .dc, .de {.vertical}
  .bb, .bd, .db, .dd {.both}
  
}

.character-narrow {
  .character-universals;
  .aa, .ac, .ca, .cc, .ea, .ec, .fa, .fc {.horizontal}
  .ab, .cb, .eb, .fb {.square}
  .ba, .bc, .da, .dc, {.both}
  .bb, .db {.vertical}
}

.character-wide {
  .character;
}

.character-punctuation {
  .character-universals;
  width: @stroke-width;
  .aa, .ca, .ea, .fa {.square;}
  .ba, .da {.vertical}
}
//top left
.tl {
  .stroke;
  border-top-left-radius: @radius;
}
//top right
.tr {
  .stroke;
  border-top-right-radius: @radius;
}
//bottom left
.bl {
  .stroke;
  border-bottom-left-radius: @radius;
}
//bottom right
.br {
  .stroke;
  border-bottom-right-radius: @radius;
}


//=========LETTERS============


.a-l {
  .character;
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .tl; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .br; };
  .ec { .stroke; };
}

.b-l {
  .character;
  .aa { .stroke; };
  .ba { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .br; };
}

.c-l {
  .character;
  .ca { .tl; };
  .cb { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.d-l {
  .character;
  .ac { .stroke; };
  .bc { .stroke; };
  .ca { .tl; };
  .cb { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .stroke; };
}

.e-l {
  .character;
  .ca { .tl; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .br; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.f-l {
  .character-narrow;
  .ab { .tl; };
  .ac { .tr; };
  .bb { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .stroke; };
  .db { .stroke; };
  .eb { .stroke; };
  .fb { .br; };
}

.g-l {
  .character;
  .ca { .tl; };
  .cb { .tr; };
  .cc { .stroke; };
  .da { .bl; };
  .dc { .stroke; };
//  .db { border-bottom: .5rem solid red !important; };
  .ec { .stroke; };
  .fb { .stroke; };
  .fc { .br; };
}

.h-l {
  .character;
  .aa { .stroke; };
  .ba { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.i-l {
  .character-narrow;
  .ab { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .db { .stroke; };
  .eb { .bl; };
  .ec { .stroke; };
}

.j-l {
  .character-narrow;
  .ab { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .db { .stroke; };
  .eb { .stroke; };
  .fa { .stroke; };
  .fb { .br; };
}

.k-l {
  .character;
  .aa { .stroke; };
  .ba { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .br; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .bl; };
}

.l-l {
  .character-narrow;
  .aa { .stroke; };
  .ab { .stroke; };
  .bb { .stroke; };
  .cb { .stroke; };
  .db { .stroke; };
  .eb { .bl; };
  .ec { .stroke; };
}

.m-l {
  .character;
  .ca { .stroke; };
  .cb { .tl; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.n-l {
  .character;
  .ca { .stroke; };
  .cb { .tl; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.o-l {
  .character;
  .ca { .tl; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.p-l {
  .character;
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .br; };
  .fa { .stroke; };
}

.q-l {
  .character;
  .ca { .tl; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .stroke; };
  .fc { .bl; };
}

.r-l {
  .character;
  .ca { .stroke; };
  .cb { .tl; };
  .cc { .stroke; };
  .da { .stroke; };
  .ea { .stroke; };
}

.s-l {
  .character-narrow;
  .cb { .tl; };
  .cc { .stroke; };
  .db { .stroke; };
  .ea { .stroke; };
  .eb { .br; };
}

.t-l {
  .character-narrow;
  .bb { .tl; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .stroke; };
  .db { .stroke; };
  .eb { .stroke; };
}

.u-l {
  .character;
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.v-l {
  .character;
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .bl; };
  .dc { .br; };
  .eb { .stroke; };
}

.w-l {
  .character;
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.x-l {
  .character-narrow;
  .ca { .tr; };
  .cc { .tl; };
  .db { .stroke; };
  .ea { .br; };
  .ec { .bl; };
}

.y-l {
  .character;
  .character;
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .stroke; };
  .fc { .stroke; };
}

.z-l {
  .character-narrow;
  .ca { .stroke; };
  .cb { .stroke; };
  .db { .stroke; };
  .eb { .stroke; };
  .ec { .stroke; };
}

.A {
  .character;
  .aa { .tl; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.B {
  .character;
  .aa { .stroke; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .br; };
}

.C {
  .character;
  .aa { .tl; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .da { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.D {
  .character;
  .aa { .stroke; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .br; };
}

.E {
  .character;
  .aa { .stroke; };
  .ab { .stroke; }; 
  .ac { .stroke; };
  .ba { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .da { .stroke; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .stroke; };
}

.F {
  .character;
  .aa { .stroke; };
  .ab { .stroke; }; 
  .ac { .stroke; };
  .ba { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .da { .stroke; };
  .ea { .stroke; };
}

.G {
  .character;
  .aa { .tl; };
  .ab { .stroke; }; 
  .ac { .stroke; }; 
  .ad { .stroke; }; 
  .ae { .tr; };
  .ba { .stroke; };
  .ca { .stroke; };
  .cc { .bl; };
  .cd { .stroke; };
  .ce { .stroke; };
  .da { .stroke; };
  .de { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .stroke; };
  .ed { .br; };
  .ee { .stroke; };
}

.H {
  .character;
  .aa { .stroke; };
  .ac { .stroke; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.I {
  .character-narrow;
  .aa { .stroke; };
  .ab { .stroke; };
  .ac { .stroke; };
  .bb { .stroke; };
  .cb { .stroke; };
  .db { .stroke; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .stroke; };
}

.J {
  .character;
  .ac { .stroke; };
  .bc { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.K {
  .character;
  .aa { .stroke; };
  .ac { .stroke; };
  .ba { .stroke; };
  .bc { .br; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.L {
  .character;
  .aa { .stroke; };
  .ba { .stroke; };
  .ca { .stroke; };
  .da { .stroke; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .stroke; };
}

.M {
  .character-wide;
  .aa { .stroke; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.N {
  .character;
  .aa { .stroke; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.O {
  .character;
  .aa { .tl; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.P {
  .character;
  .aa { .stroke; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .br; };
  .da { .stroke; };
  .ea { .stroke; };
}

.Q {
  .character;
  .aa { .tl; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .br; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .tr; };
  .fc { .bl; };
}

.R {
  .character;
  .aa { .stroke; };
  .ab { .stroke; };
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .br; };
  .da { .stroke; };
  .dc { .tr; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.S {
  .character;
  .aa { .tl; };
  .ab { .stroke; };
  .ac { .tr; };
  .ba { .stroke; };
//  .bc { .stroke; };
  .ca { .bl; };
  .cb { .stroke; };
  .cc { .tr; };
//  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}


.T {
  .character-narrow;
  .aa { .stroke; };
  .ab { .stroke; };
  .ac { .stroke; };
  .bb { .stroke; };
  .cb { .stroke; };
  .db { .stroke; };
  .eb { .stroke; };
}

.U {
  .character;
  .aa { .stroke; };
  .ac { .stroke; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.V {
  .character;
  .aa { .stroke; };
  .ac { .stroke; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .bl; };
  .dc { .br; };
  .eb { .stroke; };
}

.W {
  .character-wide;
  .aa { .stroke; };
  .ac { .stroke; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .stroke; };
  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.X {
  .character;
  .aa { .stroke; };
  .ac { .stroke; };
  .ba { .bl; };
  .bc { .br; };
  .ca { .tl; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .stroke; };
  .ec { .stroke; };
}

.Y {
  .character;
  .aa { .stroke; };
  .ac { .stroke; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .bl; };
  .cb { .stroke; };
  .cc { .stroke; };
  .dc { .stroke; };
  .eb { .stroke; };
  .ec { .br; };
}

.Z {
  .character;
  .aa { .stroke; };
  .ab { .stroke; };
  .ac { .stroke; };
  .bc { .br; };
  .cb { .stroke; };
  .da { .tl; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .stroke; };
}

.one {
  .character-narrow;
  .aa { .stroke; };
  .ab { .stroke; };
  .bb { .stroke; };
  .cb { .stroke; };
  .db { .stroke; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .stroke; };
}

.two {
  .character;
  .aa { .tl; };
  .ab { .stroke; };
  .ac { .tr; };
  .bc { .stroke; };
  .ca { .tl; };
  .cb { .stroke; };
  .cc { .br; };
  .da { .stroke; };
  .ea { .stroke; };
  .eb { .stroke; };
  .ec { .stroke; };
}

.three {
  .character;
  .aa { .tl; };
  .ab { .stroke; };
  .ac { .tr; };
  .bc { .br; };
  .cb { .stroke; };
  .cc { .tr; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.four {
  .character;
  .aa { .stroke; };
  .ac { .stroke; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .bl; };
  .cb { .stroke; };
  .cc { .stroke; };
  .dc { .stroke; };
  .ec { .stroke; };
}

.five {
  .character;
  .aa { .stroke; };
  .ab { .stroke; };
  .ac { .stroke; };
  .ba { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .tr; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.six {
  .character;
  .aa { .tl; };
  .ab { .stroke; };
  .ac { .tr; };
  .ba { .stroke; };
  .ca { .stroke; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.seven {
  .character;
  .aa { .stroke; };
  .ab { .stroke; };
  .ac { .stroke; };
  .bc { .stroke; };
  .ca { .tl; };
  .cb { .stroke; };
  .cc { .br; };
  .da { .stroke; };
  .ea { .stroke; };
}

.eight {
  .character;
  .aa { .tl; };
  .ab { .stroke; };
  .ac { .tr; };
  .ba { .bl; };
  .bc { .br; };
  .ca { .tl; };
  .cb { .stroke; };
  .cc { .tr; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.nine {
  .character;
  .aa { .tl; };
  .ab { .stroke; };
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  .ca { .bl; };
  .cb { .stroke; };
  .cc { .stroke; };
  .dc { .stroke; };
  .ec { .stroke; };
}

.zero {
  .character;
  .aa { .tl; };
  .ab { .stroke; }; 
  .ac { .tr; };
  .ba { .stroke; };
  .bc { .stroke; };
  //  .ca { .stroke; };
  //  .cc { .stroke; };
  .da { .stroke; };
  .dc { .stroke; };
  .ea { .bl; };
  .eb { .stroke; };
  .ec { .br; };
}

.period {
  .character;
  .ea { .stroke; };

}

.exclamation-point {
  .character;
  .aa { .stroke; };
  .ba { .stroke; };
  .ca { .stroke; };
  .ea { .stroke; };
}

.comma {
  .character;
  .da { .stroke; };
  .ea { .br; };
}

.colon {
  .character;
  .ca { .stroke; }
  .ea { .stroke; };
}

.semi-colon {
  .character;
  .ca { .stroke; };
  .ea { .br; };
}

.l-quote {
  .character-punctuation;
  .aa { .tl; };
  .ba { .stroke };
}
.r-quote, .apostraphe {
  .character-punctuation;
  .aa { .stroke; };
  .ba { .br };
}

.l-paren {
  .character-narrow;
  .ac { .tl; };
  .bb { .tl; };
  .cb { .stroke; };
  .db { .stroke; };
  .eb { .bl; };
  .fc { .bl; };
}
.r-paren {
  .character-narrow;
  .aa { .tr; };
  .bb { .tr; };
  .cb { .stroke; };
  .db { .stroke; };
  .eb { .br; };
  .fa { .stroke; };
}

.question {
  .character;
  .aa { .tl; };
  .ab { .stroke; };
  .ac { .stroke; };
  .ad { .stroke; };
  .ae { .tr; };
  .ba { .bl; };
  .be { .stroke; };
  .cc { .tl; };
  .cd { .stroke; };
  .ce { .br; };
  .dc { .br; };
  .ec { .stroke; };
}

.space {
  .character;
}